<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execute Command</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="body">
    <h1 class="title">Execute Command</h1>
    <div class="form-container">
        <form id="commandForm1" class="form" action="{{ url_for('execute') }}" method="post">
            <button type="submit" class="button">Abrir Porta</button>
        </form>
        <form id="commandForm2" class="form" action="{{ url_for('execute_dump') }}" method="post">
            <button type="submit" class="button">Clonar Cartão</button>
        </form>
    </div>

    <div id="output" class="output"></div>
    <div id="loading" class="loading">
        <div class="loader"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>