<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execute Command</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="body">
    <h1 class="title">Execute Command</h1>
    <form id="commandForm" class="form" action="{{ url_for('execute') }}" method="post">
        <button type="submit" class="button">Execute Command</button>
    </form>
    <div id="output" class="output"></div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>