<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/person.css') }}">
</head>

<body class="body">
    <h1 class="title">Person Details</h1>
    <div class="person-details">
        <p><strong>Name:</strong> {{ person.name }}</p>
        <p><strong>Age:</strong> {{ person.age }}</p>
        <p><strong>Email:</strong> {{ person.email }}</p>
    </div>

    <script src="{{ url_for('static', filename='js/person.js') }}"></script>
</body>

</html>